.cards-page
    margin: 100px auto

    .card-page
        margin-top: 50px

        h2, h3
            text-align: left
            color: $color-a

        .splide

            .splide__slide
                padding: 0 60px
                display: flex
                align-items: center
                justify-content: center
                text-align: justify
                font-family: 'Open Sans', sans-serif

                img
                    width: 50%
                    margin-right: 50px

                .btn.cta
                    margin-top: 20px

                ul
                    padding-left: 0
                    margin-bottom: 18px

                    li
                        &::marker
                            color: $color-a

                b.blue, span
                    color: $color-b
                    font-weight: bold

    @media screen and (max-width: 850px)
        .card-page
            .splide
                .splide__slide
                    flex-direction: column

                    img
                        width: 100%
                        margin: 0
                        margin-bottom: 30px

    @media screen and (max-width: 600px)
        .card-page
            margin-top: 80px

            h2, h3, p
                text-align: center

            .splide
                .splide__slide
                    .btn.cta
                        margin: 0 auto
                        display: table
