#footer
    margin-top: 20px
    margin-block: 20px

    p, span, a
        font-size: 14px
        color: $color-c
        font-style: normal
    
    .widgets
        display: grid
        grid-template-columns: 2fr 1.2fr 2fr 2fr
        gap: 60px

        .widget

            a:hover, a:hover span
                color: $color-a

            h3
                color: $color-a

            .logo
                width: 200px
                height: auto

            nav ul
                margin: 0
                padding: 0

                li
                    list-style: none

                    a
                        padding: 10px 0
                        display: inline-block

            .icon-card
                display: block
                display: flex
                align-items: center
                justify-content: flex-start

                svg
                    width: 30px
                    height: 30px
                    fill: $color-a
                    margin: 10px

        @media screen and (max-width: 1150px)
            grid-template-columns: repeat(3, 1fr)

            .widget.links
                display: none

        @media screen and (max-width: 900px)
            grid-template-columns: repeat(2, 1fr)

            .widget.links
                display: inline-block


        @media screen and (max-width: 650px)
            grid-template-columns: repeat(1, 1fr)
            text-align: center

            .widget .icon-card
                justify-content: center

    small
        display: block
        text-align: center
        margin-top: 30px

        &, & a
            font-size: 10px
