#hero

    // SCustomize progress bar
    .progress
        background: $color-d


        .progress-bar
            background: $color-a
            height: 2px
            transition: width 400ms ease
            height: 10px

    // Hide splite dots
    .splide__pagination.splide__pagination--ltr
        display: none

    .splide__slide
        height: 50vw
        background-repeat: no-repeat
        background-size: cover
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .title
            font-size: 3vw
            padding: 2%
            text-align: center
            color: $color-d
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin-top: 0

            span
                display: inline-block

        .logo
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            order: -1
            margin-top: -70px

            img
                width: 180px

        .btn-wrapper
            position: absolute
            bottom: 60px
            left: 0
            width: 100%

            .btn
                margin: 0 auto
                display: table
                font-size: 20px
                padding: 18px 50px

    @media screen and (max-width: 700px)

        .splide__slide
            height: 80vw
            display: flex
            align-items: center
            justify-content: space-evenly
            flex-direction: column

            .title
                font-size: 5vw

            .title, .logo, .btn-wrapper
                margin: 0
                position: initial

    @media screen and (max-width: 700px)
        .splide__slide
            height: 100vw
