#services

    .cards-services
        display: grid
        grid-template-columns: repeat(5, 1fr)

        .card
            text-align: center
            padding: 20px
            
            h3
                color: $color-a

            .wrapper-img
                margin: 0 auto
                width: 80px
                height: 80px

                img
                    width: 80px
                    height: auto

            ul
                margin: 0
                padding: 0
                text-align: left
                padding-left: 40px
