main.solutions

    .hero
        height: 50vw
        display: flex
        align-items: flex-end
        justify-content: center
        background: url("../imgs/solutions/hero.png")

        h1
            font-size: 4vw
            text-align: center
            width: 100%
            background-color: rgba($color-b, 0.8)
            color: $color-d
            margin-bottom: 10vw

    @media screen and (max-width: 650px)
        .hero 
            h1
                font-size: 6vw
