@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Spoof";
  src: url("../fonts/Spoof-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spoof";
  src: url("../fonts/Spoof-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body, button {
  font-family: "Spoof", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: #029395;
}

.regular-width {
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "PTSans", cursive;
  color: #0268ad;
}

h2 {
  text-align: center;
  font-size: 30px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.shadow {
  box-shadow: 4px 4px 30px -15px #029395;
}

.mg-section {
  margin-top: 80px;
}

.splide .splide__pagination.splide__pagination--ltr {
  display: none;
}

.btn {
  display: inline-block;
  transition-duration: 0.3s;
  padding: 15px 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.btn.cta {
  background-color: #029395;
  color: #ffffff;
  border-radius: 100px;
}
.btn.cta:hover {
  background-color: rgba(2, 147, 149, 0.8);
}
.btn.submit {
  background-color: #ffffff;
  color: #666262;
  border-radius: 10px;
  font-weight: bold;
  font-weight: 16px;
}
.btn.submit:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.btn.menu {
  padding: 0;
}
.btn.menu svg {
  width: 50px;
  height: 50px;
  fill: #029395;
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #0268ad;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(2, 104, 173, 0.8);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cards .card img {
  width: 100%;
}
.cards .card h3, .cards .card p {
  width: 80%;
  margin: 0 auto;
}
.cards .card h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #029395;
}
.cards .card h3 span {
  display: block;
}
.cards .card .btn {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  display: table;
}
@media screen and (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
}

#header {
  background-color: rgba(2, 147, 149, 0.5);
  padding-top: 40px;
}
#header .btn.menu {
  display: none;
}
#header .content-wrapper {
  background-color: #ffffff;
}
#header .content-wrapper .content {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
#header .content-wrapper .content .logo img {
  width: 150px;
}
#header .content-wrapper .content nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .content-wrapper .content nav ul li {
  list-style: none;
}
#header .content-wrapper .content nav ul li a {
  text-transform: uppercase;
  padding: 0 20px;
  height: 75px;
  line-height: 75px;
  display: inline-block;
}
#header .content-wrapper .content nav ul li a.disabled {
  opacity: 0.5;
  cursor: default;
}
#header .content-wrapper .content nav ul li a:not(.disabled):hover {
  color: #0268ad;
  font-weight: bold;
}
#header .content-wrapper .content .btn.display {
  display: none;
}
@media screen and (max-width: 950px) {
  #header .content-wrapper .content {
    flex-direction: column;
  }
  #header .content-wrapper .content .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  #header .content-wrapper .content {
    flex-direction: row;
  }
  #header .content-wrapper .content .btn.menu {
    display: inline-block;
  }
  #header .content-wrapper .content .logo {
    justify-content: flex-start;
  }
  #header .content-wrapper .content nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    height: 100vh;
    width: 200px;
    z-index: 1;
    box-shadow: -1px 3px 10px -4px black;
    transition-duration: 0.5s;
    padding-top: 40px;
  }
  #header .content-wrapper .content nav.clossed {
    right: -250px;
  }
  #header .content-wrapper .content nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}

#hero .progress {
  background: #ffffff;
}
#hero .progress .progress-bar {
  background: #029395;
  height: 2px;
  transition: width 400ms ease;
  height: 10px;
}
#hero .splide__pagination.splide__pagination--ltr {
  display: none;
}
#hero .splide__slide {
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .splide__slide .title {
  font-size: 5vw;
  padding: 2%;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
}
#hero .splide__slide .title span {
  display: inline-block;
}
#hero .splide__slide .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  order: -1;
  margin-top: -70px;
}
#hero .splide__slide .logo img {
  width: 180px;
}
#hero .splide__slide .btn-wrapper {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}
#hero .splide__slide .btn-wrapper .btn {
  margin: 0 auto;
  display: table;
}
@media screen and (max-width: 700px) {
  #hero .splide__slide {
    height: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  #hero .splide__slide .title, #hero .splide__slide .logo, #hero .splide__slide .btn-wrapper {
    margin: 0;
    position: initial;
  }
}
@media screen and (max-width: 700px) {
  #hero .splide__slide {
    height: 100vw;
  }
}

#solutions h2 + p {
  text-align: center;
}

#experience .tabs {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#experience .tabs button {
  border: none;
  background: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  color: #029395;
  border-bottom: 2px solid rgba(2, 147, 149, 0);
  transition-duration: 0.3s;
}
#experience .tabs button.active {
  font-weight: bold;
}
#experience .tabs button:hover {
  border-bottom: 2px solid #029395;
}
#experience .cards-imgs-wrapper .cards-imgs {
  display: grid;
  height: 450px;
  gap: 30px;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios {
  grid-template-columns: repeat(4, 1fr);
}
#experience .cards-imgs-wrapper .cards-imgs .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  position: relative;
}
#experience .cards-imgs-wrapper .cards-imgs .card:hover .bg {
  filter: brightness(0.2);
}
#experience .cards-imgs-wrapper .cards-imgs .card:hover .content {
  opacity: 1;
  transform: translateY(0);
}
#experience .cards-imgs-wrapper .cards-imgs .card .bg {
  transition-duration: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  border-radius: 20px;
}
#experience .cards-imgs-wrapper .cards-imgs .card .content {
  opacity: 0;
  transition-duration: 0.3s;
  transform: translateY(10px);
}
#experience .cards-imgs-wrapper .cards-imgs .card .content h3 {
  margin: 0;
  color: #029395;
  font-size: 25px;
  margin-bottom: 5px;
}
#experience .cards-imgs-wrapper .cards-imgs .card .content p {
  margin: 0;
  color: #ffffff;
}
#experience .cards-imgs-wrapper .cards-imgs .card-bg-1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
#experience .cards-imgs-wrapper .cards-imgs .card-bg-6 {
  grid-row-start: 1;
  grid-row-end: 3;
}
#experience .cards-imgs-wrapper .cards-imgs .card-bg-17 {
  grid-row-start: 1;
  grid-row-end: 3;
}
#experience .cards-imgs-wrapper .cards-imgs .card-bg-19 {
  grid-column-start: 3;
  grid-column-end: 5;
}
@media screen and (max-width: 650px) {
  #experience .cards-imgs-wrapper .cards-imgs, #experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  #experience .cards-imgs-wrapper .cards-imgs .card, #experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios .card {
    height: 50vw;
  }
  #experience .cards-imgs-wrapper .cards-imgs .card-bg-1, #experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios .card-bg-1 {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #experience .cards-imgs-wrapper .cards-imgs .card-bg-6, #experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios .card-bg-6 {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #experience .cards-imgs-wrapper .cards-imgs .card-bg-17, #experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios .card-bg-17 {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #experience .cards-imgs-wrapper .cards-imgs .card-bg-19, #experience .cards-imgs-wrapper .cards-imgs.oficinas-edificios .card-bg-19 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

#about .icons-img-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about .icons-img-wrapper .icons {
  width: 40%;
}
#about .icons-img-wrapper .icons .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#about .icons-img-wrapper .icons .icon img {
  width: 80px;
  margin: 20px;
}
#about .icons-img-wrapper .icons .icon h3 {
  color: #029395;
}
#about .icons-img-wrapper img {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 700px) {
  #about .icons-img-wrapper {
    flex-direction: column;
  }
  #about .icons-img-wrapper .icons, #about .icons-img-wrapper img {
    width: 100%;
  }
  #about .icons-img-wrapper .icons .icon, #about .icons-img-wrapper img .icon {
    justify-content: center;
  }
  #about .icons-img-wrapper .icons .icon img, #about .icons-img-wrapper img .icon img {
    margin: 5px 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 500px) {
  #about .icons-img-wrapper .icons .icon, #about .icons-img-wrapper img .icon {
    justify-content: flex-start;
  }
}

#technologies h2 + p {
  text-align: center;
}

#partners {
  background-color: #0268ad;
  padding-bottom: 40px;
}
#partners h2 {
  text-align: cente;
  color: #ffffff;
  margin: 0;
  padding: 0 20px;
  padding: 40px 0;
}
#partners .splite-wrapper {
  padding: 40px 0;
  background-color: #ffffff;
}
#partners .splite-wrapper .splide .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#partners .splite-wrapper .splide .splide__slide img {
  height: 65px;
  width: auto;
}
#partners .splite-wrapper .splide .splide__arrow.splide__arrow--prev {
  display: none;
}

#services .cards-services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
#services .cards-services .card {
  text-align: center;
}
#services .cards-services .card h3 {
  color: #029395;
}
#services .cards-services .card .wrapper-img {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
#services .cards-services .card .wrapper-img img {
  width: 80px;
  height: auto;
}
#services .cards-services .card ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
#services .cards-services .card ul li {
  list-style: none;
  text-align: center;
}
#services .cards-services .card ul li::before {
  content: "- ";
}
@media screen and (max-width: 700px) {
  #services .cards-services {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  #services .cards-services {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

#clients h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}
#clients .splite-wrapper {
  padding: 40px 0;
  background-color: #ffffff;
}
#clients .splite-wrapper .splide .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  height: 100px;
}
#clients .splite-wrapper .splide .splide__slide img {
  width: 60%;
}
#clients .splite-wrapper .splide .splide__arrow.splide__arrow--prev {
  display: none;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
#contact .bg-wrapper {
  width: calc(100% - 600px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -20px;
  top: 0;
  width: 105%;
  height: 105%;
  z-index: -1;
}
#contact .bg-wrapper .bg {
  background-image: url("../imgs/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
#contact form {
  background-color: #029395;
  width: 500px;
  padding: 20px 40px;
}
#contact form h2, #contact form label {
  color: #ffffff;
  text-align: left;
  font-weight: normal;
}
#contact form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact form .row .field {
  width: 45%;
}
#contact form .field {
  margin-bottom: 20px;
}
#contact form .field input {
  display: block;
}
#contact form .field label {
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  display: inline-block;
  transition-duration: 0.3s;
}
#contact form .field input:not(.submit), #contact form .field textarea {
  width: calc(100% - 40px - 8px);
  font-size: 16px;
  padding: 8px 20px;
  border: none;
  border: 4px solid rgba(2, 104, 173, 0);
  transition-duration: 0.3s;
}
#contact form .field textarea {
  height: 150px;
}
#contact form .field.active label {
  font-weight: bold;
  border-bottom: 2px solid white;
}
#contact form .wrapper-submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cards-page {
  margin: 100px auto;
}
.cards-page h2, .cards-page h3 {
  text-align: left;
  color: #029395;
}
.cards-page .card-page {
  margin-top: 50px;
}
.cards-page .card-page .splide .splide__slide {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.cards-page .card-page .splide .splide__slide img {
  width: 50%;
  margin-right: 50px;
}
.cards-page .card-page .splide .splide__slide .btn.cta {
  margin-top: 20px;
}
.cards-page .card-page .splide .splide__slide ul {
  padding-left: 0;
}
.cards-page .card-page .splide .splide__slide ul li::marker {
  color: #029395;
}
.cards-page .card-page .splide .splide__slide b.blue, .cards-page .card-page .splide .splide__slide span {
  color: #0268ad;
  font-weight: bold;
}
@media screen and (max-width: 850px) {
  .cards-page .card-page .splide .splide__slide {
    flex-direction: column;
  }
  .cards-page .card-page .splide .splide__slide img {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}

main.solutions .hero {
  height: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../imgs/solutions/hero.png");
}
main.solutions .hero h1 {
  font-size: 4vw;
  text-align: center;
  width: 100%;
  background-color: rgba(2, 104, 173, 0.8);
  color: #ffffff;
  margin-bottom: 10vw;
}
@media screen and (max-width: 650px) {
  main.solutions .hero h1 {
    font-size: 6vw;
  }
}

main.about h2 {
  margin-bottom: 50px;
}
main.about h2 + p {
  margin-top: 0;
}
main.about .hero {
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.about .hero h1 {
  font-size: 50px;
  color: #0268ad;
  width: 40%;
}
main.about .hero img {
  width: 50%;
}
main.about .priority .icons-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
main.about .priority .icons-cards .card {
  display: flex;
  width: 100%;
}
main.about .priority .icons-cards .card img {
  width: 80px;
  margin-right: 30px;
}

main.tech h2 {
  margin-bottom: 50px;
}
main.tech h2 + p {
  margin-top: 0;
}
main.tech .hero {
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.tech .hero h1 {
  font-size: 50px;
  color: #0268ad;
  width: 30%;
}
main.tech .hero img {
  width: 60%;
}

#footer {
  margin-top: 20px;
  margin-block: 20px;
}
#footer address {
  font-style: normal;
}
#footer p, #footer span, #footer a {
  font-size: 14px;
  color: #666262;
  font-style: normal;
}
#footer .widgets {
  display: grid;
  grid-template-columns: 2fr 1.2fr 2fr 2fr;
  gap: 60px;
}
#footer .widgets .widget a:hover, #footer .widgets .widget a:hover span {
  color: #029395;
}
#footer .widgets .widget h3 {
  color: #029395;
}
#footer .widgets .widget .logo {
  width: 200px;
  height: auto;
}
#footer .widgets .widget nav ul {
  margin: 0;
  padding: 0;
}
#footer .widgets .widget nav ul li {
  list-style: none;
}
#footer .widgets .widget nav ul li a {
  padding: 10px 0;
  display: inline-block;
}
#footer .widgets .widget .icon-card {
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#footer .widgets .widget .icon-card svg {
  width: 30px;
  height: 30px;
  fill: #029395;
  margin: 10px;
}
@media screen and (max-width: 1150px) {
  #footer .widgets {
    grid-template-columns: repeat(3, 1fr);
  }
  #footer .widgets .widget.links {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #footer .widgets {
    grid-template-columns: repeat(2, 1fr);
  }
  #footer .widgets .widget.links {
    display: inline-block;
  }
}
@media screen and (max-width: 650px) {
  #footer .widgets {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  #footer .widgets .widget .icon-card {
    justify-content: center;
  }
}
#footer small {
  display: block;
  text-align: center;
  margin-top: 30px;
}
#footer small, #footer small a {
  font-size: 10px;
}

/*# sourceMappingURL=styles.css.map */
