@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Spoof";
  src: url("../fonts/Spoof-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spoof";
  src: url("../fonts/Spoof-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body, button {
  font-family: "Spoof", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: #029395;
}

.regular-width {
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "PTSans", cursive;
  color: #0268ad;
}

h2 {
  text-align: center;
  font-size: 30px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.shadow {
  box-shadow: 4px 4px 30px -15px #029395;
}

.mg-section {
  margin-top: 80px;
}

.btn {
  display: inline-block;
  transition-duration: 0.3s;
}
.btn.cta {
  padding: 15px 40px;
  background-color: #029395;
  color: #ffffff;
  border-radius: 100px;
}
.btn.cta:hover {
  background-color: rgba(2, 147, 149, 0.8);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #0268ad;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(2, 104, 173, 0.8);
}

#hero .progress {
  background: #ffffff;
}
#hero .progress .progress-bar {
  background: #029395;
  height: 2px;
  transition: width 400ms ease;
  height: 10px;
}
#hero .splide__pagination.splide__pagination--ltr {
  display: none;
}
#hero .splide__slide {
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#hero .splide__slide .title {
  font-size: 5vw;
  padding: 2%;
  text-align: center;
  background-color: rgba(2, 104, 173, 0.6);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero .splide__slide .title span {
  display: inline-block;
}
#hero .splide__slide .logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}
#hero .splide__slide .logo img {
  width: 180px;
}
#hero .splide__slide .btn-wrapper {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}
#hero .splide__slide .btn-wrapper .btn {
  margin: 0 auto;
  display: table;
}

#solutions h2 + p {
  text-align: center;
}
#solutions .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
#solutions .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#solutions .cards .card img {
  width: 100%;
}
#solutions .cards .card h3, #solutions .cards .card p {
  width: 80%;
  margin: 0 auto;
}
#solutions .cards .card h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #029395;
}
#solutions .cards .card h3 span {
  display: block;
}
#solutions .cards .card .btn {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  display: table;
}

#experience .tabs {
  margin-top: 40px;
}
#experience .tabs button {
  border: none;
  background: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  color: #029395;
  border-bottom: 2px solid rgba(2, 147, 149, 0);
  transition-duration: 0.3s;
}
#experience .tabs button:first-child {
  margin-left: 0;
}
#experience .tabs button:last-child {
  margin-right: 0;
}
#experience .tabs button.active {
  font-weight: bold;
}
#experience .tabs button:hover {
  border-bottom: 2px solid #029395;
}
#experience .cards-imgs-wrapper .cards-imgs {
  display: grid;
  height: 450px;
  gap: 30px;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#experience .cards-imgs-wrapper .cards-imgs .card-bg-1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
#experience .cards-imgs-wrapper .cards-imgs .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  position: relative;
}
#experience .cards-imgs-wrapper .cards-imgs .card:hover .bg {
  filter: brightness(0.2);
}
#experience .cards-imgs-wrapper .cards-imgs .card:hover .content {
  opacity: 1;
  transform: translateY(0);
}
#experience .cards-imgs-wrapper .cards-imgs .card .bg {
  transition-duration: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}
#experience .cards-imgs-wrapper .cards-imgs .card .content {
  opacity: 0;
  transition-duration: 0.3s;
  transform: translateY(10px);
}
#experience .cards-imgs-wrapper .cards-imgs .card .content h3 {
  margin: 0;
  color: #029395;
  font-size: 25px;
  margin-bottom: 5px;
}
#experience .cards-imgs-wrapper .cards-imgs .card .content p {
  margin: 0;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
